<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watch.wifidemo"
    android:versionCode="1"
    android:versionName="@string/app_versionName">


    <!-- baidu_map base permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.providers.settings.SettingsProvider" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- baidu_map location permission -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <!-- 推送 -->
    <permission
        android:name="com.uacent.wifidemo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fdcz.zsct.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <application
        android:name="com.watch.wifidemo.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/wifi_demo"
        android:label="@string/system_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.watch.wifidemo.ui.FirstActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.watch.wifidemo.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.watch.wifidemo.ui.AuthLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.AuthRegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.PersonInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.PersonUpdatePasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.StaticPageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.SmartLinkActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.watch.wifidemo.ui.InfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GroupLightActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.ControlLightActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.AddLightActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.watch.wifidemo.ui.DeviceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme"></activity>


        <activity
            android:name="com.watch.wifidemo.ui.LinkWifiDeviceActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name="com.watch.wifidemo.ui.WifiSettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.watch.wifidemo.ui.FindPasswordActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.watch.wifidemo.ui.LightSettingActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KF1Sp0yWSXX5mjt01kXOGDCb"></meta-data>

        <service
            android:name="com.watch.wifidemo.service.WifiConnectService"
            android:enabled="true"></service>

        <service
            android:name="com.watch.wifidemo.service.WifiHttpConnectService"
            android:enabled="true"></service>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--  </>值来自开发者平台取得的AppKey-->

    </application>
</manifest>